.level {
    display: flex;
    background-color: var(--level-bg-color);
    //padding: 10px;
    //padding-top: 12px;
    border-radius: 1.2vw;
    margin: 8px;

    width: 75%;
    height: 12vh;

    box-shadow: 0 0 15px #000a;
    transition: 0.1s;

    position: relative;

    @media (max-width: 580px) {
        width: 90%;
    }

    @media (hover: hover) {
        &:hover {
            transform: scale(101%);
            box-shadow: 0 0 30px #0008;
            filter: brightness(110%);
        }
    }
}

.level-image {
    margin-left: 10px;

    user-select: none;

    max-height: 120px;
    height: 100%;

    //position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: calc(100% - calc(10px * 2));
        border-radius: 1vw;
    }
}

.level-text {
    margin-left: 10px;
    font-size: clamp(0px, 2vw, 15px);

    h2, h3 {
        color: var(--secondary-text-color);
        margin: 0;
    }

    h1 {
        margin: 5px;
    }
}

.copyIdIcon {
    transition: .1s;
    @media (hover: hover) {
        &:hover {
            color: #999;
        }
    }
    
}