@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nova+Mono&family=Quicksand:wght@300..700&display=swap');
:root {
    --font-family: "Quicksand", "Comfortaa", Calibri;

    --default-text-color: #fff;
    --secondary-text-color: #ccc;

    --level-bg-color: #222233;
    --scroll-btn-bg-color: #2e2e4b;

    --mobile-social-licks-size: 8vw;
}