@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Quicksand:wght@300..700&display=swap");
.level {
  display: flex;
  background-color: #222233;
  padding: 10px;
  border-radius: 1.2vw;
  margin: 8px;
  width: 75%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6666666667);
  transition: 0.1s;
}
.level:hover {
  transform: scale(101%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5333333333);
  filter: brightness(110%);
}

.level-image {
  margin-right: 10px;
  border-radius: 1vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  max-height: 120px;
  height: 10vw;
}

.level-text {
  margin-left: 10px;
  padding-top: 10px;
  font-size: clamp(5px, 2vw, 15px);
}
.level-text h1, .level-text h3 {
  margin: 0;
}
.level-text h1 {
  margin-bottom: 5px;
}

.copyIdIcon {
  transition: 0.1s;
}
.copyIdIcon:hover {
  color: #999;
}

.scroll-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translateX(-8px) translateY(-8px);
  transition: 0.25s;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #2e2e4b;
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6666666667);
}
.scroll-btn:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5333333333);
  filter: brightness(110%);
}

/*.show {
    animation-name: show;
    -webkit-animation-name: show;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

.hide {
    animation-name: hide;
    -webkit-animation-name: hide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}*/
#top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh;
  border-radius: 2vh;
  font-size: clamp(10px, 1vw, 15px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.logo {
  margin: 2vh 2vw;
}

.page {
  padding: 2vh 2vw;
  margin: 0 0.5vw;
  border-radius: 1vh;
  color: white;
  text-decoration: none;
  transition: 0.25s;
}
.page:hover {
  background-color: rgba(255, 255, 255, 0.0666666667);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.selected-page {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.selected-page:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.links {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.s {
  margin: 20px;
  transition: ease-in-out 0.2s;
  background-color: var(--main-color);
  color: white;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 40px;
  font-size: 40px;
}

.s:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px var(--main-color);
}

.telegram {
  padding-left: 8px;
  padding-right: 12px;
}

* {
  padding: none;
  margin: none;
}

body {
  font-family: "Quicksand", Calibri;
  background-color: #232323;
  color: white;
  background: url("../images/ListBG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.levels-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a, button {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.back {
  outline: none;
  border: none;
  border-radius: 8px;
}/*# sourceMappingURL=main.css.map */